.section {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  max-width: 1440px;
  width: 100%;
}

.section-2 {
  width: 100%;
  align-self: stretch;
  flex-grow: 1;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.reviews {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 80px;
  padding-bottom: 49px;
  max-width: 1200px;
}

@media (max-width: 991px) {
  .reviews {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 640px) {
  .reviews {
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.section-3 {
  width: 100%;
  align-self: stretch;
  flex-grow: 1;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.div {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 0px;
  line-height: 49px;
  height: auto;
  text-align: left;
  font-size: 40px;
  font-family: Roboto, sans-serif;
  font-weight: 600;
  color: rgba(0, 0, 0, 1);
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 640px) {
  .div {
    line-height: 30px;
    font-size: 21px;
  }
}

.div-2 {
  display: flex;
  flex-direction: row;
  position: relative;
  margin-top: 1px;
  padding-bottom: 77px;
  justify-content: space-around;
  flex-wrap: wrap;
}

.div-3 {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 24px;
  padding-bottom: 24px;
  justify-content: space-between;
  box-shadow: 0px 0px 29px -3px rgba(172, 172, 172, 0.25);
  border-radius: 17px;
  padding-left: 24px;
  padding-right: 24px;
  margin-top: 64px;
  max-width: 571px;
}

.div-4 {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 50px;
  text-align: left;
  line-height: 17px;
  height: auto;
  font-size: 12px;
  text-transform: uppercase;
  border-bottom: 1.25px solid #000000;
}

@media (max-width: 640px) {
  .div-4 {
    line-height: 20px;
    font-size: 14px;
    margin-top: 80px;
  }
}

.div-5 {
  display: flex;
  flex-direction: column;
  position: relative;
}

.div-6 {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 20px;
  min-height: 20px;
  min-width: 20px;
  overflow: hidden;
  width: 96px;
}

.image {
  object-fit: contain;
  object-position: center;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.image-sizer {
  width: 100%;
  padding-top: 16.1%;
  pointer-events: none;
  font-size: 0;
}

.div-7 {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 30px;
  text-align: left;
  line-height: 20px;
  height: auto;
  font-size: 14px;
}

@media (max-width: 640px) {
  .div-7 {
    line-height: 22px;
    font-size: 15px;
  }
}

.div-8 {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 24px;
  padding-bottom: 24px;
  justify-content: space-between;
  box-shadow: 0px 0px 29px -3px rgba(172, 172, 172, 0.25);
  border-radius: 17px;
  padding-left: 24px;
  padding-right: 24px;
  margin-top: 64px;
  max-width: 568px;
}

.div-9 {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 50px;
  text-align: left;
  line-height: 17px;
  height: auto;
  font-size: 12px;
  text-transform: uppercase;
  border-bottom: 1.25px solid #000000;
}

@media (max-width: 640px) {
  .div-9 {
    line-height: 20px;
    font-size: 14px;
    margin-top: 80px;
  }
}

.div-10 {
  display: flex;
  flex-direction: column;
  position: relative;
}

.div-11 {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 20px;
  min-height: 20px;
  min-width: 20px;
  overflow: hidden;
  width: 96px;
}

.div-12 {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 30px;
  text-align: left;
  line-height: 20px;
  height: auto;
  font-size: 14px;
}

@media (max-width: 640px) {
  .div-12 {
    line-height: 22px;
    font-size: 15px;
  }
}

.div-13 {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 24px;
  padding-bottom: 24px;
  justify-content: space-between;
  box-shadow: 0px 0px 29px -3px rgba(172, 172, 172, 0.25);
  border-radius: 17px;
  padding-left: 24px;
  padding-right: 24px;
  margin-top: 64px;
  max-width: 568px;
}

.div-14 {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 50px;
  text-align: left;
  line-height: 17px;
  height: auto;
  font-size: 12px;
  text-transform: uppercase;
  border-bottom: 1.25px solid #000000;
}

@media (max-width: 640px) {
  .div-14 {
    line-height: 20px;
    font-size: 14px;
    margin-top: 80px;
  }
}

.div-15 {
  display: flex;
  flex-direction: column;
  position: relative;
}

.div-16 {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 20px;
  min-height: 20px;
  min-width: 20px;
  overflow: hidden;
  width: 96px;
}

.div-17 {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 30px;
  text-align: left;
  line-height: 20px;
  height: auto;
  font-size: 14px;
}

@media (max-width: 640px) {
  .div-17 {
    line-height: 22px;
    font-size: 15px;
  }
}

.div-18 {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 24px;
  padding-bottom: 24px;
  justify-content: space-between;
  box-shadow: 0px 0px 29px -3px rgba(172, 172, 172, 0.25);
  border-radius: 17px;
  padding-left: 24px;
  padding-right: 24px;
  margin-top: 64px;
  max-width: 568px;
}

.div-19 {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 50px;
  text-align: left;
  line-height: 17px;
  height: auto;
  font-size: 12px;
  text-transform: uppercase;
  border-bottom: 1.25px solid #000000;
}

@media (max-width: 640px) {
  .div-19 {
    line-height: 20px;
    font-size: 14px;
    margin-top: 80px;
  }
}

.div-20 {
  display: flex;
  flex-direction: column;
  position: relative;
}

.div-21 {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 20px;
  min-height: 20px;
  min-width: 20px;
  overflow: hidden;
  width: 96px;
}

.div-22 {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 30px;
  text-align: left;
  line-height: 20px;
  height: auto;
  font-size: 14px;
}

@media (max-width: 640px) {
  .div-22 {
    line-height: 22px;
    font-size: 15px;
  }
}

.section-4 {
  width: 100%;
  align-self: stretch;
  flex-grow: 1;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.div-23 {
  display: flex;
  flex-direction: row;
  position: relative;
  margin-top: 1px;
  padding-bottom: 77px;
  justify-content: space-around;
  flex-wrap: wrap;
}

.div-24 {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 24px;
  padding-bottom: 24px;
  justify-content: space-between;
  box-shadow: 0px 0px 29px -3px rgba(172, 172, 172, 0.25);
  border-radius: 17px;
  padding-left: 24px;
  padding-right: 24px;
  margin-top: 64px;
  max-width: 571px;
}

.div-25 {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 50px;
  text-align: left;
  line-height: 17px;
  height: auto;
  font-size: 12px;
  text-transform: uppercase;
  border-bottom: 1.25px solid #000000;
}

@media (max-width: 640px) {
  .div-25 {
    line-height: 20px;
    font-size: 14px;
    margin-top: 80px;
  }
}

.div-26 {
  display: flex;
  flex-direction: column;
  position: relative;
}

.div-27 {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 20px;
  min-height: 20px;
  min-width: 20px;
  overflow: hidden;
  width: 96px;
}

.div-28 {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 30px;
  text-align: left;
  line-height: 20px;
  height: auto;
  font-size: 14px;
}

@media (max-width: 640px) {
  .div-28 {
    line-height: 22px;
    font-size: 15px;
  }
}

.div-29 {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 24px;
  padding-bottom: 24px;
  justify-content: space-between;
  box-shadow: 0px 0px 29px -3px rgba(172, 172, 172, 0.25);
  border-radius: 17px;
  padding-left: 24px;
  padding-right: 24px;
  margin-top: 64px;
  max-width: 568px;
}

.div-30 {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 50px;
  text-align: left;
  line-height: 17px;
  height: auto;
  font-size: 12px;
  text-transform: uppercase;
  border-bottom: 1.25px solid #000000;
}

@media (max-width: 640px) {
  .div-30 {
    line-height: 20px;
    font-size: 14px;
    margin-top: 80px;
  }
}

.div-31 {
  display: flex;
  flex-direction: column;
  position: relative;
}

.div-32 {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 20px;
  min-height: 20px;
  min-width: 20px;
  overflow: hidden;
  width: 96px;
}

.div-33 {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 30px;
  text-align: left;
  line-height: 20px;
  height: auto;
  font-size: 14px;
}

@media (max-width: 640px) {
  .div-33 {
    line-height: 22px;
    font-size: 15px;
  }
}

.div-34 {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 24px;
  padding-bottom: 24px;
  justify-content: space-between;
  box-shadow: 0px 0px 29px -3px rgba(172, 172, 172, 0.25);
  border-radius: 17px;
  padding-left: 24px;
  padding-right: 24px;
  margin-top: 64px;
  max-width: 568px;
}

.div-35 {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 50px;
  text-align: left;
  line-height: 17px;
  height: auto;
  font-size: 12px;
  text-transform: uppercase;
  border-bottom: 1.25px solid #000000;
}

@media (max-width: 640px) {
  .div-35 {
    line-height: 20px;
    font-size: 14px;
    margin-top: 80px;
  }
}

.div-36 {
  display: flex;
  flex-direction: column;
  position: relative;
}

.div-37 {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 20px;
  min-height: 20px;
  min-width: 20px;
  overflow: hidden;
  width: 96px;
}

.div-38 {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 30px;
  text-align: left;
  line-height: 20px;
  height: auto;
  font-size: 14px;
}

@media (max-width: 640px) {
  .div-38 {
    line-height: 22px;
    font-size: 15px;
  }
}

.div-39 {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 24px;
  padding-bottom: 24px;
  justify-content: space-between;
  box-shadow: 0px 0px 29px -3px rgba(172, 172, 172, 0.25);
  border-radius: 17px;
  padding-left: 24px;
  padding-right: 24px;
  margin-top: 64px;
  max-width: 568px;
}

.div-40 {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 50px;
  text-align: left;
  line-height: 17px;
  height: auto;
  font-size: 12px;
  text-transform: uppercase;
  border-bottom: 1.25px solid #000000;
}

@media (max-width: 640px) {
  .div-40 {
    line-height: 20px;
    font-size: 14px;
    margin-top: 80px;
  }
}

.div-41 {
  display: flex;
  flex-direction: column;
  position: relative;
}

.div-42 {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 20px;
  min-height: 20px;
  min-width: 20px;
  overflow: hidden;
  width: 96px;
}

.div-43 {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 30px;
  text-align: left;
  line-height: 20px;
  height: auto;
  font-size: 14px;
}

@media (max-width: 640px) {
  .div-43 {
    line-height: 22px;
    font-size: 15px;
  }
}