.review {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: auto;
  margin-bottom: 125px;
  padding: 0rem;
  margin-left: 80px;
  margin-right: 80px;
}

.review__box {
  background: var(--clr-white);
  padding: 40px;
  box-shadow: var(--light-shadow);
  transition: var(--transition);
  text-align: start;
  background: #ffffff;
  -webkit-box-shadow: 2px 2px 9px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 2px 2px 9px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 2px 2px 9px 0px rgba(34, 60, 80, 0.2);
  border-radius: 17px;
  width: 600px;
  height: 300px;
  justify-content: space-between;
  margin-bottom: 55px;
}



/* .review__box:hover {
  box-shadow: var(--dark-shadow);
} */

.img-container {
  position: relative;
  width: 70px;
  height: 70px;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}

.person-img {
  width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  position: relative;
}

@media screen and (max-width: 1360px) {
  .review__box {
    width: 100%;
    max-width: 900px;
    margin-bottom: 25px;
    display: block;
    margin: 0 auto;
    margin-bottom: 35px;
    max-height: 520px;
    height: 100%;
  }
}

@media screen and (max-width: 650px) {
  .info {
  }
}