.header {
	@import "~@styles/general.scss";

	.wrapper {
			@include container();
			display: flex;
			justify-content: space-between;
			max-width: 1440px;
			
			> .navbartoggler {
				max-width: 1070px;
				width: 100%;
				.siteheadertop {
					justify-content: space-between;
					width: 100%;
					height: 50px;
					position: relative;
	
					.linkmenu {
						display: flex;
						justify-content: space-between;
	
						.link {
							width: 100px;
							align-items: center;
							padding: 15px 20px;
							border-color: white;
							background-color: #fff;
							color: black;
							font-size: 15px;
							line-height: 18px;
							font-weight: 500;
						}
					}
				}
			}
			.siteheaderbottom {
				width: 100%;
				height: 50px;
				background: white;
			}

	}
}