a {
	position: relative; 
	cursor: pointer;

}
a:after {
	display: block;
	position: absolute;
	left: 0; 
	width: 0;
	height: 2px;
	background-color: #3463F8; 
	content: "";
	transition: width 0.3s ease-out; 
}

a:hover:after,
a:focus:after {
	width: 100%;
}

.header-btn {
    width: 99px;
    height: 40px;
    color: #fff;
    font-size: 18px;
    background: #3463f8;
    border-radius: 13px;
    border: none;
    cursor: pointer;
    padding: 0.4rem 1.2rem;
    margin-left: 24px;
}


.navigation {
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.5rem 0rem;
  color: black;
  margin-bottom: 215px;
  padding-top: 1rem;
}

a, .brand-name {
  text-decoration: none;
  color: black;
  font-size: 1.3rem;

}

.navigation-menu {
  margin-left: auto;
}

.navigation-menu ul {
  display: flex;
  padding: 0;
  align-items: center;
}

.navigation-menu li {
  list-style-type: none;
  margin: 0 1rem;
}

.navigation-menu li a {
  text-decoration: none;
  display: block;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  width: 100%;
}

.hamburger {
  border: 0;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: #283b8b;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  display: none;
}

.hamburger:hover {
  background-color: #2642af;
}


.lang {
  display: flex;
  align-items: center;

}

@media screen and (max-width: 768px) {
  .navigation {
    display: none;
  }
}