.sections {
  width: 1200px;
  margin: 0 auto;
    position: relative;
    margin-top: 70px;
    padding-bottom: 30px;
    align-self: stretch;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
  }

  .div {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-left: 35px;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 20px;
    font-weight: 500;
  }
  @media (max-width: 991px) {
    .div {
      justify-content: center;
    }
  }
  .div-2 {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 120px;
    max-width: 350px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgba(255, 255, 255, 1);
    margin-left: 0px;
    margin-right: auto;
  }
  .div-3 {
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    line-height: normal;
    height: 45px;
    width: 45px;
    border-radius: 4px;
    overflow: hidden;
    margin-top: auto;
    margin-bottom: auto;
  }
  .image {
    object-fit: cover;
    object-position: center;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }
  .image-sizer {
    width: 100%;
    padding-top: 70.04048582995948%;
    pointer-events: none;
    font-size: 0;
  }
  .div-4 {
    display: flex;
    flex-direction: column;
    position: relative;
    line-height: normal;
    height: auto;
    text-align: left;
    margin-bottom: auto;
    margin-top: auto;
    width: 245px;
    padding-left: 30px;
  }
  .div-5 {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 120px;
    max-width: 350px;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 1);
    margin-left: 0px;
    padding-left: 20px;
    margin-right: auto;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .div-6 {
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    line-height: normal;
    height: 45px;
    width: 45px;
    border-radius: 4px;
    overflow: hidden;
    margin-top: auto;
    margin-bottom: auto;
  }
  .div-7 {
    display: flex;
    flex-direction: column;
    position: relative;
    line-height: normal;
    height: auto;
    text-align: left;
    margin-bottom: auto;
    margin-top: auto;
    width: 245px;
    padding-left: 30px;
  }
  .div-8 {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 120px;
    max-width: 350px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 1);
    margin-left: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .div-9 {
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    line-height: normal;
    height: 45px;
    width: 45px;
    border-radius: 4px;
    overflow: hidden;
    margin-top: auto;
    margin-bottom: auto;
  }
  .div-10 {
    display: flex;
    flex-direction: column;
    position: relative;
    line-height: normal;
    height: auto;
    text-align: left;
    margin-bottom: auto;
    margin-top: auto;
    padding-left: 30px;
    width: 245px;
  }
  .div-11 {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 120px;
    max-width: 350px;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: flex-start;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 1);
    margin-left: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .div-12 {
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    line-height: normal;
    height: 45px;
    width: 45px;
    border-radius: 4px;
    overflow: hidden;
    margin-top: auto;
    margin-bottom: auto;
  }
  .div-13 {
    display: flex;
    flex-direction: column;
    position: relative;
    line-height: normal;
    height: auto;
    text-align: left;
    margin-bottom: auto;
    margin-top: auto;
    padding-left: 30px;
    width: 245px;
  }
  .div-14 {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 120px;
    max-width: 350px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgba(255, 255, 255, 1);
    margin-left: 0px;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .div-15 {
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    line-height: normal;
    height: 45px;
    width: 45px;
    border-radius: 4px;
    overflow: hidden;
    margin-top: auto;
    margin-bottom: auto;
  }
  .div-16 {
    display: flex;
    flex-direction: column;
    position: relative;
    line-height: normal;
    height: auto;
    text-align: left;
    margin-bottom: auto;
    margin-top: auto;
    width: 245px;
    padding-left: 30px;
  }
  .div-17 {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 120px;
    max-width: 350px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgba(255, 255, 255, 1);
    margin-left: 0px;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .div-18 {
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    line-height: normal;
    height: 45px;
    width: 45px;
    border-radius: 4px;
    overflow: hidden;
    margin-top: auto;
    margin-bottom: auto;
  }
  .div-19 {
    display: flex;
    flex-direction: column;
    position: relative;
    line-height: normal;
    height: auto;
    text-align: left;
    margin-bottom: auto;
    margin-top: auto;
    width: 245px;
    padding-left: 30px;
  }
  .div-20 {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 120px;
    max-width: 350px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgba(255, 255, 255, 1);
    margin-left: 0px;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .div-21 {
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    line-height: normal;
    height: 45px;
    width: 45px;
    border-radius: 4px;
    overflow: hidden;
    margin-top: auto;
    margin-bottom: auto;
  }
  .div-22 {
    display: flex;
    flex-direction: column;
    position: relative;
    line-height: normal;
    height: auto;
    text-align: left;
    margin-bottom: auto;
    margin-top: auto;
    width: 245px;
    padding-left: 30px;
  }
  .div-23 {
    display: flex;
    flex-direction: row;
    position: relative;
    margin-left: 0px;
    height: 120px;
    max-width: 350px;
    padding-right: 20px;
    background-color: rgba(255, 255, 255, 1);
    padding-left: 20px;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .div-24 {
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    line-height: normal;
    height: 45px;
    width: 45px;
    border-radius: 4px;
    overflow: hidden;
    margin-top: auto;
    margin-bottom: auto;
  }
  .div-25 {
    display: flex;
    flex-direction: column;
    position: relative;
    line-height: normal;
    height: auto;
    text-align: left;
    margin-bottom: auto;
    margin-top: auto;
    width: 245px;
    padding-left: 30px;
  }
  .div-26 {
    display: flex;
    flex-direction: row;
    position: relative;
    margin-left: 0px;
    height: 120px;
    max-width: 350px;
    background-color: rgba(255, 255, 255, 1);
    padding-left: 20px;
    padding-right: 20px;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .div-27 {
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    line-height: normal;
    height: 45px;
    width: 45px;
    border-radius: 4px;
    overflow: hidden;
    margin-top: auto;
    margin-bottom: auto;
  }
  .div-28 {
    display: flex;
    flex-direction: column;
    position: relative;
    line-height: normal;
    height: auto;
    text-align: left;
    margin-bottom: auto;
    margin-top: auto;
    width: 271.67px;
    padding-left: 30px;
  }
  .div-29 {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    max-width: 1440px;
    line-height: 49px;
    text-align: center;
    font-weight: 600;
    font-size: 40px;
  }
  .section {
    width: 100%;
    align-self: stretch;
    flex-grow: 1;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }