a {
    position: relative;
    cursor: pointer;
}

a:after {
    display: block;
    position: absolute;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #3463F8;
    content: "";
    transition: width 0.3s ease-out;
}

.footer-text {
    max-width: 420px;
    width: 100%;
    text-decoration: none;
    color: black;
    font-size: 18px;
}


.footer {
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;
    color: black;
    margin-bottom: 65px;
}

.brand-name {
    text-decoration: none;
    color: black;
    font-size: 1.3rem;

}

.navigation-menu {
    margin-left: auto;
}

.navigation-menu ul {
    display: flex;
    padding: 0;
    align-items: center;
}

.navigation-menu li {
    list-style-type: none;
    margin: 0 1rem;
}

.navigation-menu li a {
    text-decoration: none;
    display: block;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    width: auto;
}
.lang {
    font-style: normal;
    font-weight: 700;   
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}