/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */

body {
  font-family: "Gilroy", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(355.05deg, rgba(52, 99, 248, 0) 71.25%, rgba(52, 99, 248, 0.31) 106.45%), #FFFFFF;
}

._container {
  max-width: 1400px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.main-titile {
  margin-top: 320px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 49px;
  text-align: center;
  color: #000000;
}

h1 {
  font-size: 3rem;
}


/* Используются как загаловки в файле main.css, в папке, где собирается главная страница */
/* h2 {
  text-align: center;
  margin-top: 320px;
  margin-bottom: 50px;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 49px;
} */


h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}